
.input-group-text{
    border-radius: none;
    height: 40px;
}

body{
    background-color: rgb(232, 224, 224);
}

.container .row .card-body{
    background-color: rgb(202, 202, 211);
}

.list-group-item{
    background-color: rgb(202, 202, 211);
    border-radius: 7px;
    /* border: 2px solid black; */
   

}

.list-group-item h6{
    width: 800px;
    overflow-x: scroll;
    overflow-y: hidden;
    font-size: 20px;
    font-weight: lighter;
}

@media (max-width:411px) {
    .list-group-item h6{
        font-size: 14px;
    }

    
    ::placeholder{
        font-size: 12px;
    }
}

.col-10 .text-center{
    font-size: 27px;
    font-family: cursive;
    font-weight: 700;
}